[build]
  command = "bundle exec jekyll build"
  publish = "_site"

[build.environment]
  JEKYLL_ENV = "production"
  RUBY_VERSION = "3.1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
